.ui_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }

  .ui.card:first-child {
    margin-top: 85px;
    margin-bottom: -80px;
}

.content {
  text-align: center !important;
  font-size: 11px !important;
}