.ui.masthead.segment {
    background: url("https://i.ibb.co/PmQf969/anahi-martinez-AG2-uhdd-J-g-unsplash.jpg") center center/cover no-repeat;
    height: 100vh;
  }

  .ui.content.container {
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}