.ui.masthead.segment {
  padding: 10%;
  background-image: url("https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  width: 100% !important;
}
